
  <div class="row">
    <div class="col-12">
      <h5>HOW IT WORCKS?</h5>
    </div>
    <div class="row pad">
        <div class="col-4 work">
            <img src="../../assets/image/ic_booking@1x.png">
            <div>
                <small>chose your service and fill <br> your availabilities  and your location </small>
            </div>
        </div>
        <div class="col-4 work">
            <img src="../../assets/image/ic_payment@1x.png">
            <div>
                <small>chose your service and fill <br> your availabilities  and your location </small>
            </div>
        </div>
        <div class="col-4 work">
            <img src="../../assets/image/ic_meeting@1x.png">
            <div>
                <small>chose your service and fill <br> your availabilities  and your location </small>
            </div>
        </div>
    </div>
    <div class="col-12">
      <button mat-raised-button >I RESERVE</button>

      </div>
  </div>
<div class="row colobackground">
    <div class="col-12">
        <h5>WE ARE CLOSE TO YOU ONE </h5>
      </div>
  <div class="col-6 imgBackground">
      </div>
      <div class="col-6">
        <div class="row">
         <div class="col-12">
            <small>polish hurry and technophile...three,two,one...Fire!<br>
              Our appis availabele on your smartphones! you can also make an appoiment on our mobile</small>
         </div>
         <div class="col-6">
            <img src="../../assets/img/ic_available_app_store_norml@1x.png">
          </div>
          <div class="col-6">
              <img src="../../assets/img/ic_available_google_play_normal@1x.png">
          </div>
        </div>

      </div>


</div>








