<div class="row">
<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="slick-prev slick-arrow slick-disabled" href="#multi-item-example" data-slide="prev">
      <img src="../../assets/image/arrow_left_actif@2x.png">
    </a>

    <a class="slick-next slick-arrow" href="#multi-item-example" data-slide="next">
        <img src="../../assets/image/arrow_right_actif@2x.png">
    </a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <!-- <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>

  </ol> -->
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="col-md-4">
        <div class="card mb-2">
          <div class="img-wrap">
            <img src="../../assets/image/categ_lashes_home@1x.png" alt="" srcset="">
          </div>
          <br>
          <img src="../../assets/image/title _line_category_1@1x.png" class="row md-7">
          <div class="content collection-content">
            <h4>
              <a href="" tabindex="-1">Lashes & brows</a>
            </h4>
            <p>-event makeup</p>
            <p>-Make up workshop</p>
            <p>Makeup with test</p>
            <p>-Nude makeup</p>
            <p>-Fashion makeup</p>
            <p>-Our makeuo artists</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <div class="img-wrap">
            <img src="../../assets/image/categ_nails_home@1x.png" alt="" srcset="">
            <br>
            <img src="../../assets/image/title _line_category_1@1x.png" class="row md-7">
          </div>
          <div class="content collection-content">
            <h4>
              <a href="" tabindex="-1">Nails & more</a>
            </h4>
            <p>-event makeup</p>
            <p>-Make up workshop</p>
            <p>Makeup with test</p>
            <p>-Nude makeup</p>
            <p>-Fashion makeup</p>
            <p>-Our makeuo artists</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <div class="img-wrap">
            <img src="../../assets/image/categ_haire_style_home@1x.png" alt="" srcset="">
            <br>
            <img src="../../assets/image/title _line_category_1@1x.png" class="row md-7">
          </div>
          <div class="content collection-content">
            <h4>
              <a href="/collection/lip-makeup/" tabindex="-1">Haire styles</a>
            </h4>
            <p>-event makeup</p>
            <p>-Make up workshop</p>
            <p>Makeup with test</p>
            <p>-Nude makeup</p>
            <p>-Fashion makeup</p>
            <p>-Our makeuo artists</p>
          </div>
        </div>
      </div>


    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="col-md-4">
        <div class="card mb-2">
          <div class="img-wrap">
            <img src="../../assets/image/categ_make_up_home@1x.png" alt="" srcset="">
            <br>
            <img src="../../assets/image/title _line_category_1@1x.png" class="row md-7">
          </div>
          <div class="content collection-content">
            <h4>
              <a href="" tabindex="-1">MekeUp</a>
            </h4>
            <p>-event makeup</p>
            <p>-Make up workshop</p>
            <p>Makeup with test</p>
            <p>-Nude makeup</p>
            <p>-Fashion makeup</p>
            <p>-Our makeuo artists</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <div class="img-wrap">
            <img src="../../assets/image/categ_wax_home@1x.png" alt="" srcset="">
            <br>
            <img src="../../assets/image/title _line_category_1@1x.png" class="row md-7">
          </div>
          <div class="content collection-content">
            <h4>
              <a href="" tabindex="-1">Wax</a>
            </h4>
            <p>-event makeup</p>
            <p>-Make up workshop</p>
            <p>Makeup with test</p>
            <p>-Nude makeup</p>
            <p>-Fashion makeup</p>
            <p>-Our makeuo artists</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 clearfix d-none d-md-block">
        <div class="card mb-2">
          <div class="img-wrap">
            <img src="../../assets/image/categ_goming_soon_home@1x.png" alt="" srcset="">
            <br>
            <img src="../../assets/image/title _line_category_1@1x.png" class="row md-7">
          </div>
          <div class="content collection-content">
            <h4>
              <a href="" tabindex="-1">Goming</a>
            </h4>
            <p>-event makeup</p>
            <p>-Make up workshop</p>
            <p>Makeup with test</p>
            <p>-Nude makeup</p>
            <p>-Fashion makeup</p>
            <p>-Our makeuo artists</p>
          </div>
        </div>
      </div>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->



    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<p align="center">
  <button  type="button" class="btn btn-danger" routerLink="/Service">Explore All</button>
</p>
</div>
